{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": "auto",
        "exclude": ["transform-regenerator", "transform-async-to-generator"],
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment",
        "throwIfNamespace": false
      }
    ],
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true
      }
    ],
    [
      "module:fast-async",
      {
        "spec": "true"
      }
    ]
  ]
}
