{
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/no-unknown-property": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "process": true
  }
}
