<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>

    <style>
      .preview {
        position: fixed;
        width: 60px;
        height: 100%;
      }

      .preview-widget {
        position: fixed;
      }

      .preview-widget--top {
        top: 50px;
      }

      .preview-widget--right {
        right: 50px;
      }

      .preview-widget--bottom {
        bottom: 50px;
      }

      .preview-widget--left {
        left: 110px;
      }
    </style>
  </head>

  <body>
    <div
      data-widget-host="application-switcher-top-right"
      class="preview-widget preview-widget--top preview-widget--right"
    ></div>
    <div
      data-widget-host="application-switcher-top-left"
      class="preview-widget preview-widget--top preview-widget--left"
    ></div>
    <div
      data-widget-host="application-switcher-bottom-right"
      class="preview-widget preview-widget--bottom preview-widget--right"
    ></div>
    <div
      data-widget-host="application-switcher-bottom-left"
      class="preview-widget preview-widget--bottom preview-widget--left"
    ></div>
    <div data-widget-host="habitat" class="preview"></div>
  </body>
</html>
